.color {
    background: #C28C4D;

}
.secondary-color{
   background: #F3F3F3;

}
.text-color{
 
color: #CFCFCF;

}
.height-demo{
    height: 520px;
}

.banner-img {
    background-image: url("images/Rectangle1.png");
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}


.primary-font {
    font-family: 'EB Garamond', serif;
}

.seceondary-font {
    font-family: 'Poppins', sans-serif;
}


.card-2 {
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
    border: 1px solid #E7E7E7;
}
.carousel{
    height: 550px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}
.arrow-img{
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 576px) {
    .carousel-item img{
        height: 100vh;
        object-fit: cover;
       
    }
    .carousel-caption img {
       
        height:80%;
        object-fit: cover;
    }
    .carousel-caption{
        width:70%;
        height:90%;
        text-align: center;
    }
   
}